.section-intro {
    height: 100vh;
    /* se puede cambiar la iamgen de fondo */
    background-image: url('../../../assets/images/moto-01.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-intro-title,.section-product-title{
    text-align: center;
    color: white;
    font-size: 60px;
}


.section-intro-sub-title{
    text-align: center;
    color: white;
    font-size: 52px;
}

.section-product-sub-title{
    text-align: center;
    font-size: 38px;
}

.section-form{
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 12px;
    padding-right: 12px;
}
